<div class="container text-center">
		<h2>Dare to Discover... wine</h2>
		<span class="wineSearch"></span>

		<!-- When the AJAX call is done...the data from omdb's API should go here -->
		<div id="wineData">

		</div>
</div>